
*.png

*.pt

\.idea/inspectionProfiles/

*.iml

*.xml

__pycache__/

input/pretrained-models/

Model_weights/exp0_end_epoch2

Model_weights/exp1_end_epoch10

Model_weights/exp10_end_epoch\.pt21

Model_weights/exp11_end_epoch\.pt24

Model_weights/exp12_end_epoch\.pt5

Model_weights/exp13_end_epoch\.pt48

Model_weights/exp14_end_epoch\.pt46

Model_weights/exp15_end_epoch\.pt39

Model_weights/exp16_end_epoch\.pt46

Model_weights/exp17_end_epoch\.pt46

Model_weights/exp18_end_epoch\.pt8

Model_weights/exp19_end_epoch\.pt1

Model_weights/exp19_end_epoch\.pt10

Model_weights/exp19_end_epoch\.pt12

Model_weights/exp19_end_epoch\.pt15

Model_weights/exp19_end_epoch\.pt17

Model_weights/exp19_end_epoch\.pt22

Model_weights/exp19_end_epoch\.pt24

Model_weights/exp19_end_epoch\.pt4

Model_weights/exp19_end_epoch\.pt5

Model_weights/exp19_end_epoch\.pt6

Model_weights/exp2_end_epoch10

Model_weights/exp20_end_epoch\.pt1

Model_weights/exp20_end_epoch\.pt10

Model_weights/exp20_end_epoch\.pt12

Model_weights/exp20_end_epoch\.pt15

Model_weights/exp20_end_epoch\.pt17

Model_weights/exp20_end_epoch\.pt22

Model_weights/exp20_end_epoch\.pt24

Model_weights/exp20_end_epoch\.pt4

Model_weights/exp20_end_epoch\.pt5

Model_weights/exp20_end_epoch\.pt6

Model_weights/exp21_end_epoch\.pt1

Model_weights/exp21_end_epoch\.pt10

Model_weights/exp21_end_epoch\.pt12

Model_weights/exp21_end_epoch\.pt15

Model_weights/exp21_end_epoch\.pt17

Model_weights/exp21_end_epoch\.pt22

Model_weights/exp21_end_epoch\.pt24

Model_weights/exp21_end_epoch\.pt4

Model_weights/exp21_end_epoch\.pt5

Model_weights/exp21_end_epoch\.pt6

Model_weights/exp22_end_epoch\.pt1

Model_weights/exp23_end_epoch\.pt1

Model_weights/exp23_end_epoch\.pt13

Model_weights/exp23_end_epoch\.pt2

Model_weights/exp23_end_epoch\.pt28

Model_weights/exp23_end_epoch\.pt36

Model_weights/exp23_end_epoch\.pt44

Model_weights/exp23_end_epoch\.pt5

Model_weights/exp23_end_epoch\.pt6

Model_weights/exp24_end_epoch1

Model_weights/exp24_end_epoch10

Model_weights/exp24_end_epoch11

Model_weights/exp24_end_epoch12

Model_weights/exp24_end_epoch13

Model_weights/exp24_end_epoch14

Model_weights/exp24_end_epoch15

Model_weights/exp24_end_epoch16

Model_weights/exp24_end_epoch2

Model_weights/exp24_end_epoch3

Model_weights/exp24_end_epoch4

Model_weights/exp24_end_epoch5

Model_weights/exp24_end_epoch6

Model_weights/exp24_end_epoch7

Model_weights/exp24_end_epoch8

Model_weights/exp24_end_epoch9

Model_weights/exp25_end_epoch\.pt1

Model_weights/exp25_end_epoch\.pt11

Model_weights/exp25_end_epoch\.pt12

Model_weights/exp25_end_epoch\.pt13

Model_weights/exp25_end_epoch\.pt15

Model_weights/exp25_end_epoch\.pt19

Model_weights/exp25_end_epoch\.pt2

Model_weights/exp25_end_epoch\.pt20

Model_weights/exp25_end_epoch\.pt21

Model_weights/exp25_end_epoch\.pt22

Model_weights/exp25_end_epoch\.pt24

Model_weights/exp25_end_epoch\.pt29

Model_weights/exp25_end_epoch\.pt3

Model_weights/exp25_end_epoch\.pt39

Model_weights/exp25_end_epoch\.pt4

Model_weights/exp25_end_epoch\.pt40

Model_weights/exp25_end_epoch\.pt49

Model_weights/exp25_end_epoch\.pt6

Model_weights/exp25_end_epoch\.pt60

Model_weights/exp25_end_epoch\.pt63

Model_weights/exp25_end_epoch\.pt7

Model_weights/exp25_end_epoch\.pt8

Model_weights/exp26_end_epoch\.pt1

Model_weights/exp26_end_epoch\.pt2

Model_weights/exp26_end_epoch\.pt4

Model_weights/exp26_end_epoch\.pt5

Model_weights/exp26_end_epoch\.pt7

Model_weights/exp26_end_epoch\.pt8

Model_weights/exp27_end_epoch\.pt1

Model_weights/exp28_end_epoch\.pt1

Model_weights/exp28_end_epoch\.pt13

Model_weights/exp28_end_epoch\.pt22

Model_weights/exp28_end_epoch\.pt31

Model_weights/exp28_end_epoch\.pt39

Model_weights/exp28_end_epoch\.pt44

Model_weights/exp28_end_epoch\.pt45

Model_weights/exp28_end_epoch\.pt49

Model_weights/exp28_end_epoch\.pt54

Model_weights/exp28_end_epoch\.pt57

Model_weights/exp28_end_epoch\.pt6

Model_weights/exp28_end_epoch\.pt7

Model_weights/exp3_end_epoch11

Model_weights/exp4_end_epoch\.pt11

Model_weights/exp5_end_epoch\.pt9

Model_weights/exp6_end_epoch\.pt13

Model_weights/exp7_end_epoch\.pt54

Model_weights/exp8_end_epoch\.pt23

Model_weights/exp9_end_epoch\.pt22

Model_weights/exp44_end_epoch\.pt24

Model_weights/exp45_end_epoch\.pt10

Model_weights/exp46_end_epoch\.pt1

Model_weights_finetuning/exp48_end_epoch1\.pth

Model_weights_finetuning/exp48_end_epoch10\.pth

Model_weights_finetuning/exp48_end_epoch11\.pth

Model_weights_finetuning/exp48_end_epoch15\.pth

Model_weights_finetuning/exp48_end_epoch16\.pth

Model_weights_finetuning/exp48_end_epoch2\.pth

Model_weights_finetuning/exp48_end_epoch3\.pth

Model_weights_finetuning/exp48_end_epoch4\.pth

Model_weights_finetuning/exp48_end_epoch5\.pth

Model_weights_finetuning/exp48_end_epoch6\.pth

Model_weights_finetuning/exp48_end_epoch9\.pth

Model_weights/exp47_end_epoch\.pt1

Model_weights/exp47_end_epoch\.pt2

Model_weights/exp47_end_epoch\.pt3

Model_weights/exp47_end_epoch\.pt4

Model_weights/exp47_end_epoch\.pt5

Model_weights/exp47_end_epoch\.pt6

Model_weights/exp47_end_epoch\.pt7

\.ipynb_checkpoints/blindness-detection-complete-pytorch-training-checkpoint\.ipynb

\.ipynb_checkpoints/find_lr-checkpoint\.ipynb

\.ipynb_checkpoints/logger_test-checkpoint\.ipynb

\.ipynb_checkpoints/preprocess and save images-checkpoint\.ipynb

blindness-detection-complete-pytorch-training\.ipynb

Model_weights/exp43_end_epoch\.pt9

Model_weights/exp43_end_epoch\.pt9\.zip

Model_weights/exp48_end_epoch1\.pth

Model_weights/exp48_end_epoch2\.pth

Model_weights/exp48_end_epoch4\.pth

Model_weights/exp49_end_epoch1\.pth

Model_weights/exp50_end_epoch1\.pth

Model_weights/exp51_end_epoch1\.pth

Model_weights/exp51_end_epoch10\.pth

Model_weights/exp51_end_epoch14\.pth

Model_weights/exp51_end_epoch15\.pth

Model_weights/exp51_end_epoch18\.pth

Model_weights/exp51_end_epoch2\.pth

Model_weights/exp51_end_epoch22\.pth

Model_weights/exp51_end_epoch23\.pth

Model_weights/exp51_end_epoch24\.pth

Model_weights/exp51_end_epoch28\.pth

Model_weights/exp51_end_epoch30\.pth

Model_weights/exp51_end_epoch4\.pth

Model_weights/exp51_end_epoch5\.pth

Model_weights/exp51_end_epoch9\.pth

Model_weights/exp52_end_epoch1\.pth

Model_weights/exp52_end_epoch10\.pth

Model_weights/exp52_end_epoch4\.pth

Model_weights/exp52_end_epoch5\.pth

Model_weights/exp52_end_epoch7\.pth

*.pth

input/train_mixed_full_images.zip

input/train_mixed_full_images/10075_right.png~

input/train_mixed_full_images/10286_left.png~

input/train_mixed_full_images/10890_left.png~

input/train_new_images.zip

input/EfficientNet_PyTorch.zip

input/labels.zip

input/resized test 15.zip

libs_logs.zip

libs/apex-master.zip

Model_weights_finetuning/finetune8_256_crop_clahe_b5_colorjitter.pth.zip

vessels/VesselNet_architecture.json

vessels/VesselNet_best_weights.h5
